*{
    box-sizing: border-box;
}
body{
    background-color: #222222;
    background-size: cover;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding: 0 1.5em;
}
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding:  1.5em;

}
.logo{
    text-align: center;
    font-size: 3em;
    font-family: Squada One, Arial, Helvetica, sans-serif;

}
.contact-side{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    
}
.contact-side > * {
    padding: .1em;
    
}
.contact-form{
    background: #222222;
    
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.contact-form form .block{
    grid-column: 1/3;
}
.contact-form form p{
    margin: 0;
    padding: .1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 171, 126);
    outline:0 ;
    color: #fff; 
}

.contact-form form button{
    background:rgb(255, 171, 126);
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: .1em;
    border-radius: 25px;
    cursor: pointer;
}
.contact-form form button:hover,
.contact-form form button:focus{
    background:rgb(255, 171, 126);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info{
    /*background: #000;*/
    background-image: url("../imagenes/imagenfondocontacto2.jpg");
    
}
.contact-info h4,
.contact-info p,
.contact-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .3em;
}
i{
    margin-right: 5px;
}


/*large*/
@media (min-width: 700px){
    body{
        padding: 0 4rem;
    }
    .contact-side{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-side > *{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info p,
    .contact-info ul{
        padding: 1em;
        text-align: left;
    }

}

@media (max-width: 700px){
    .contact-form{
        margin-bottom: 20px;
    }
}